@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;500&family=Poppins:wght@600;700&display=swap');
@import 'tailwindcss';

@theme {
  /*** Colors ***/
  --color-color-one: #1e293b; /* fond */
  --color-color-two: #e5e7eb; /* texte principal */
  --color-color-three: #10b981; /* bouton principal */
  --color-color-four: #6366f1; /* lien secondaire */

  /*** Font ***/
  --font-title: 'Poppins', sans-serif;
  --font-text: 'Inter', sans-serif;
  --font-code: 'Fira Code', monospace;
}

@layer base {
  body {
    @apply bg-color-one text-color-two font-text;
  }

  main {
    @apply px-10 mt-6 w-full flex flex-col items-center;
  }

  h1,
  h2 {
    @apply text-3xl md:text-4xl font-bold font-title;
  }
}

@layer components {
  .btn {
    @apply bg-color-three px-6 py-3 rounded-md font-semibold duration-200 ease-in
    hover:px-8 hover:py-5 hover:rounded-xl
    active:bg-color-three/80;
  }
}

@layer utilities {
  @keyframes slide-and-rotate {
    0% {
      transform: translateY(10px) rotate(0deg);
    }

    50% {
      transform: translateY(-10px) rotate(90deg);
    }

    100% {
      transform: translateY(10px) rotate(180deg);
    }
  }
  .slide-top {
    animation: slide-and-rotate 1.5s ease-in-out infinite both;
  }
}
