/* Imports de polices Google Fonts et de Tailwind */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;500&family=Poppins:wght@600;700&display=swap');
@import 'tailwindcss';

/* Déclaration des variables CSS des couleurs et polices */
@theme {
  --color-color-one: #1e293b; /* fond */
  --color-color-two: #e5e7eb; /* texte principal */
  --color-color-three: #10b981; /* bouton principal */
  --color-color-four: #263143; /* fond secondaire */

  --font-title: 'Poppins', sans-serif;
  --font-text: 'Inter', sans-serif;
  --font-code: 'Fira Code', monospace;
}

/* Déclaration des animations personnalisées et de leur keyframes. */
@layer utilities {
  /* Animation de l'icone dans le composent Cmd */
  @keyframes slide-and-rotate {
    0% {
      transform: translateY(10px) rotate(0deg);
    }

    50% {
      transform: translateY(-10px) rotate(90deg);
    }

    100% {
      transform: translateY(10px) rotate(180deg);
    }
  }
  .slide-top {
    animation: slide-and-rotate 1.5s ease-in-out infinite both;
  }

  /* Animation d'ouverture modale */
  @keyframes slide-in-blurred-top {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 0% 100%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 100% 0%;
      filter: blur(0);
      opacity: 1;
    }
  }
  .openModal {
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  }

  /* Animation du Loader */
  @keyframes line-bounce {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  .fake-loader {
    animation: line-bounce 1.25s both;
  }

  /* Animation du composent Cmd */
  @keyframes scale-in-ver-center {
    0% {
      transform: scaleY(0);
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  .scale-in-ver-center {
    animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }

  /* Animation des elements du composent banner */
  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  /* Animation des elements du composent banner */
  @keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-in-right {
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

/* Styles de base pour les balises HTML. */
@layer base {
  body {
    @apply bg-color-one text-color-two font-text;
  }

  header {
    @apply px-4 h-16 w-full flex justify-between items-center sticky top-0 bg-color-one z-9999;
  }

  section {
    @apply px-8 pt-8 pb-8;
  }

  footer {
    @apply px-4 pt-16 pb-0 bg-color-four flex flex-col md:items-center gap-8 md:gap-0 w-full text-center;
  }

  h1,
  h2 {
    @apply text-3xl md:text-4xl font-bold font-title;
  }

  h3 {
    @apply text-xl font-bold font-title;
  }

  input {
    @apply bg-color-two border-1 border-color-one text-color-four rounded-md p-1 md:w-full;
  }

  textarea {
    @apply bg-color-two border-1 border-color-one text-color-four rounded-md p-1 w-full h-20;
  }
}

/* Composants personnalisés pour réutilisation : boutons, cartes, sections... */
@layer components {
  .btn {
    @apply bg-color-three px-6 py-3 rounded-md font-semibold hover:scale-120 transition-transform duration-300 text-center text-color-four;
  }

  .card {
    @apply bg-color-two text-color-one p-4 rounded-xl hover:scale-105 transition-transform duration-300 text-sm flex flex-col gap-2 max-w-125;
  }

  #home-page #banner {
    @apply min-h-[600px] md:min-h-[550px] max-h-[900px] h-[calc(100vh-64px)/* Hauteur de l'ecran moins la hauteur du header */]  flex flex-col items-center md:gap-8;
  }

  #home-page #about {
    @apply md:min-h-[600px] md:max-h-[900px] md:h-[calc(100vh-64px)/* Hauteur de l'ecran moins la hauteur du header */] flex flex-col gap-8 text-center md:text-start bg-color-four;
  }

  #home-page #skills {
    @apply md:min-h-[730px] md:max-h-[900px] md:h-[calc(100vh-64px)/* Hauteur de l'ecran moins la hauteur du header */] flex flex-col gap-8 text-center md:text-start;
  }

  #project #banner-project {
    @apply bg-color-four flex flex-col gap-8 text-center md:text-start;
  }

  #project #cards {
    @apply flex flex-col gap-8 text-center md:text-start;
  }

  #error {
    @apply h-[calc(100vh-64px)/* Hauteur de l'ecran moins la hauteur du header */] flex flex-col items-center justify-around;
  }
}
